body{
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.75;
    color: black;
    margin: 0;
}

nav {
    display: flex;
    width: 100%;
    color: rgba(255,255,255, 0.85);
    background: darkblue;
    padding-left: 21px;
    padding-right: 21px;
    margin-bottom: 30px;
    text-transform: capitalize;
}

ul {
    position: relative;
    margin: 0;
    z-index: 2;
    text-align: center;
}

li {
    display: inline-block;
    margin-right: 3em;
    font-size: 0.95em;
}
a {
    text-decoration: none;
    color: #fff;
    font-size: 0.95em;
}

.dropdown {
    position: relative;
    display: inline-block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    /*margin-top: 5px;*/
    background-color: darkblue;
    min-width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 1;
    top: 100%;
    padding-left: 0;
    box-shadow: 0px 10px 32px 2px rgba(0,0,0,0.2);
}

.navbar-drop-item {
    /*overflow float unnötig?*/
    overflow: hidden;
    float: left;
    white-space: nowrap;
    text-align: left;
    margin-right: 0;
    color: rgba(255,255,255, 0.8);
    padding: 12px 24px;
    text-decoration: none;
    width: calc(100% - 24px);
}

.navbar-nav {
    margin: 0;
    float: left;
}

.navbar-header {
    font-size: 1.6em;
    display: grid;
    justify-content: center;
    align-items: center;
}

.navbar-nav > li {
    padding: 15px 21px;
    line-height: 23px;
}

.show-dropdown {
    display: block;
}

.dropdown-toggle{
    font-weight: 600;
}

#refreshButton{
    font-weight: bold;
}

td{
    border: 1px solid lightskyblue;
    padding: 0;
    background-color: white;
}

.shortestPath {
    background-color: purple;
}

.unvisited{
    background-color: white;
}

.visited {
    background-color: orange;
}

.wall {
    background-color: black;
}

.button {
    background-color: limegreen;
    border: none;
    color: white;
    padding: 14px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.95em;
    border-radius: 6px;
}

#startButtonLI {
    padding: 5px 21px;
}

.start {
    background-image: url("images/start.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.end {
    background-image: url("images/finish.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.water{
    background-image: url("images/waterdropSized.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.fire{
    background-image: url("images/flame.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sand{
    background-image: url("images/sand.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#grid{
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
}

#table-grid {
    margin-left: 5px;
    margin-right: 5px;
    border-spacing: 0;
}

#table-grid td {
    width: 25px;
    height: 25px;
}
