body{
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.75;
    color: black;
    margin: 0;
}

nav {
    display: flex;
    width: 100%;
    color: rgba(255,255,255, 0.85);
    background: darkblue;
    padding-left: 21px;
    padding-right: 21px;
    margin-bottom: 30px;
}

ul {
    position: relative;
    margin: 0;
    z-index: 2;
    text-align: center;
}

li {
    display: inline-block;
    margin-right: 3em;
    font-size: 0.95em;
}
a {
    text-decoration: none;
    color: #fff;
    font-size: 0.95em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 5px;
    background-color: darkblue;
    min-width: 100%;
    border-radius: 4px;
    z-index: 1;
    top: 100%;
    padding-left: 0;
}

.navbar-drop-item {
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    margin-right: 0;
    color: rgba(255,255,255, 0.8);
    padding: 12px 24px;
    text-decoration: none;
}

.navbar-nav {
    margin: 0;
    float: left;
}

.navbar-header {
    font-size: 1.6em;
    float: left;
}

.navbar-nav > li {
    padding: 15px 21px;
    line-height: 23px;
}

.show-dropdown {
    display: block;
}

.dropdown-toggle{
    font-weight: 550;
}

#refreshButton{
    font-weight: bold;
}

.unvisited{
    border: 1px solid lightskyblue;
    background-color: white;
}

.wall {
    background-color: black;
}

.start {
    background-color: yellow;
}

.end {
    background-color: green;
}

#grid{
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
}

#table-grid td {
    width: 25px;
    height: 25px;
}